:root {
	--tui-theme-color: #d4daf3;
	--tui-background-elevation-1: #ededf0;
	--tui-background-elevation-2: #f0f0f0;
	--tui-background-elevation-3: #e2e2e2;
}

:root [tuitheme="dark"] {
	--tui-theme-color: #3f4561;
}

.flex {
  display:flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.h-full {
  height:100% !important;
}

.w-full {
  width:100% !important;
}

.gap-2 {
  gap:10px;
}

.items-center {
  align-items: center !important;
  justify-content: center !important;
}

.grid {
  display:grid;
}

.base-view {
	display:flex;
	flex-direction: column;
	width:100%;

	> :last-child {
		padding-bottom: 1rem !important;
	}
}

.m-2 {
  margin:5px;
}

.p-2 {
  padding:5px;
}

.m-4 {
  margin:10px;
}

.p-4 {
  padding:10px;
}

.text-center {
	text-align: center;
}
